@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Doto:wght@100..900&display=swap");

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.3s ease;
  padding: 20px 10px;
  background: transparent;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.7);
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.navbar-toggle {
  display: none; /* Botón dispositivos móviles */
  cursor: pointer;
  font-size: 1.5rem;
  color: #cecece;
}

.gradient-text {
  font-size: 3.6rem;
  background: linear-gradient(to right, #842c8a, #f0c6c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: bold;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .nav-links {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 20px 0;
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }
}


