
<footer class="footer" id="contact">
  <div class="footer-container">
    <p>© 2024 Martina Sarasola</p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/tu-perfil" target="_blank" rel="noopener noreferrer">
        <img src="../../../../assets/icons/icons8-linkedin-50.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/tu-usuario" target="_blank" rel="noopener noreferrer">
        <img src="../../../../assets/icons/icons8-github-32.png" alt="GitHub" />
      </a>
    </div>

    <div class="back-to-top">
      <a (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

  </div>
</footer>
