<section class="about-me" id="about-me">
  <div class="about-content">
    <div class="image-container">
      <img src="../../../../assets/self.JPG" alt="Foto de mi CV" loading="eager" />
    </div>
    <div class="info">
      <h1 id="about-me">About Me</h1>
      <div class="btn">
        <a href="../../../../assets/Resume MS (2).pdf" download>
          DOWNLOAD CV &#x2B07;
        </a>
      </div>      
      <p>
        I'm a <span class="highlight">passionate developer </span> and snowboarder. 
        I love creating unique web experiences and exploring the world. 
        My travel experiences have taught me valuable life lessons, and my time in Park City
        allowed me to connect with my passion for snowboarding and the mountains. 
      </p>
      <ul>
        <li><strong>Programming:</strong> JavaScript, Angular, HTML, CSS, MYSQL, PHP</li>
        <li><strong>Hobbies:</strong> Snowboarding, Hiking, Travel, Photography</li>
      </ul>
      <div class="btn-primary">
        <a href="#projects">View My Projects</a>
      </div>      
    </div>
  </div>
</section>
